.header4 {
    position: relative;
}
.header4 .header-area .header-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header4 .header-area .header-main .header-element.logo {
    padding: 35px 0;
}
.header4 .header-area .header-main .header-element.left-block-box {
    width: 41.67%;
}
.header4 .header-area .header-main .header-element.logo {
    width: 16.66%;
}
.header4 .header-area .header-main .header-element.right-block-box {
    width: 41.67%;
}
.header4 .header-area .header-main.logo-center .header-element.logo a {
    margin: 0 auto;
    text-align: center;
}
.header4 .header-area .header-main .header-element.toggle-content {
    display: none;
}
.header4 .header-area .header-main.logo-left .header-element.logo {
    order: -1;
}
@media (max-width: 1199px) {
    .header4 .header-area .header-main {
        padding: 20px 0;
    }
    .header4 .header-area .header-main .header-element.left-block-box {
        display: none;
    }
    .header4 .header-area .header-main .header-element.toggle-content,
    .header4 .header-area .header-main.logo-left .header-element.logo,
    .header4 .header-area .header-main.logo-center .header-element.logo,
    .header4 .header-area .header-main .header-element.right-block-box {
        width: 33.33%;
    }
    .header4 .header-area .header-element.megamenu-content {
        display: none;
    }
    .header4 .header-area .header-element.logo a {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header4 .header-area .header-main.logo-left .header-element.logo {
        order: 0;
    }
    .header4 .header-area .header-main .header-element.logo {
        padding: 0;
    }
    .header4 .header-area .header-main .header-element.toggle-content {
        display: flex;
        color: var(--font-color-header);
        font-size: 18px;
        line-height: 1;
    }
}
/* right-block css */
.header4 .right-block-box {
    display: flex;
    justify-content: flex-end;
}
/* custom info css */
.header4 .custom-info {
    display: flex;
    align-items: center;
    padding-inline-end: 20px;
}
.header4 .custom-info .info-icon span.icon {
    background-color: var(--font-color-primary);
    color: #FFFFFF;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.header4 .custom-info .info-text {
    margin-inline-start: 10px;
}
.header4 .custom-info .info-text span.label {
    color: var(--font-color-paragraph);
}
.header4 .custom-info .info-text .text {
    margin-top: 5px;
}
.header4 .custom-info .info-text .text p,
.header4 .custom-info .info-text .text p a {
    color: var(--font-color-body);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
    line-height: 1;
}
.header4 .custom-info .info-text .text p a:hover {
    color: var(--font-color-primary);
}
/* icon css */
.header4 .right-block-box ul.shop-element {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header4 .right-block-box ul.shop-element li.side-wrap {
    display: block;
    position: relative;
    padding: 0 20px;
    line-height: 1;
}
.header4 .right-block-box ul.shop-element li.side-wrap:first-child {
    padding-inline-start: 0;
}
.header4 .right-block-box ul.shop-element li.side-wrap:last-child {
    padding-inline-end: 0;
}
.header4 .right-block-box ul.shop-element li.side-wrap.search-wrap {
    display: none;
}
.header4 .right-block-box ul.shop-element li.side-wrap a.header-icon span.icon {
    font-size: 16px;
}
.header4 .right-block-box ul.shop-element li.side-wrap.wishlist-wrap a.header-icon span.wishlist-counter,
.header4 .right-block-box ul.shop-element li.side-wrap.cart-wrap a.header-icon .bigcounter {
    display: none;
    position: relative;
    margin-inline-start: 10px;
    padding-inline-start: 10px;
}
.header4 .right-block-box ul.shop-element li.side-wrap.wishlist-wrap a.header-icon span.wishlist-counter::before,
.header4 .right-block-box ul.shop-element li.side-wrap.cart-wrap a.header-icon .bigcounter::before {
    content: '/';
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: -4px;
}
.header4 .right-block-box ul.shop-element li.side-wrap a.header-icon span.title {
    display: none;
}
.header4 .right-block-box ul.shop-element li.side-wrap.cart-wrap a.header-icon span.title {
    margin-inline-start: 5px;
    text-transform: uppercase;
    order: 1;
}
.header4 .right-block-box ul.shop-element li.side-wrap.cart-wrap a.header-icon span.title,
.header4 .right-block-box ul.shop-element li.side-wrap.cart-wrap a.header-icon span.cart-icon-wrap {
    display: flex;
    align-items: center;
}
.header4 .right-block-box ul.shop-element li.side-wrap.cart-wrap a.header-icon span.cart-icon-wrap span.total-price {
    margin-inline-start: 5px;
    order: 1;
}
@media (max-width: 1399px) {
    .header4 .right-block-box ul.shop-element li.side-wrap {
        padding: 0 15px;
    }
}
@media (max-width: 1199px) {
    .header4 .right-block-box .custom-info {
        display: none;
    }
    .header4 .right-block-box ul.shop-element li.side-wrap.search-wrap {
        display: flex;
    }
    .header4 .right-block-box ul.shop-element li.side-wrap.search-wrap .search-rap-desktop2 {
        display: none;
    }
    .header4 .right-block-box ul.shop-element li.side-wrap.cart-wrap a.header-icon span.title,
    .header4 .right-block-box ul.shop-element li.side-wrap.cart-wrap a.header-icon span.total-price {
        display: none;
    }
}
@media (max-width: 600px) {
    .header4 .right-block-box ul.shop-element li.side-wrap,
    .header4 .right-block-box ul.shop-element li.side-wrap.search-wrap {
        display: none;
    }
    .header4 .right-block-box ul.shop-element li.side-wrap.cart-wrap {
        display: block;
    }
}

/* header bottom css */
.header4 .header-bottom-wrap {
    border-top: var(--sti-border);
}
.header4 .header-bottom-wrap .header-menu {
    border-radius: var(--sti-border-radius);
}
.header4 .header-bottom-wrap .header-menu .menu-grid {
    display: flex;
}
.header4 .header-bottom-wrap .header-menu .menu-grid .left-block-box {
    width: 25%;
    margin-inline-end: 30px;
}
.header4 .header-bottom-wrap .header-menu .menu-grid .offer-text-wrap {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header4 .header-bottom-wrap .header-menu .menu-grid.vegamenu-enable.offer-enable .center-block-box {
    width: 50%;
}
.header4 .header-bottom-wrap .header-menu .menu-grid.offer-enable .center-block-box {
    width: 75%;
}
.header4 .header-bottom-wrap .header-menu .menu-grid.vegamenu-enable .center-block-box {
    width: 75%;
} 
.header4 .header-bottom-wrap .header-menu .menu-grid .center-block-box {
    width: 100%;
}
/* offer text css */
.header4 .offer-text-wrap .text-wrap p,
.header4 .offer-text-wrap .text-wrap p a {
    color: var(--font-color-primary);
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
    text-transform: uppercase;
    line-height: 1;
}
.header4 .offer-text-wrap .text-wrap p a {
    border-bottom: 1px solid;
}
.header4 .offer-text-wrap .text-wrap p a:hover {
    color: var(--font-color-secondary);
}
@media(max-width: 1199px){
    .header4 .header-bottom-wrap {
      display: none;
    }
}